body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(33, 37, 41);
    color: rgb(255, 255, 255);
}

.header {
    margin-top: 1rem;
    text-align: center;
}

.container {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.inner {
    display: flex;
    column-gap: 16px;
    justify-content: space-between;
}

#no-btn-static:hover {
    cursor: default;
}

.btn-dynamic {
    left: 0;
    top: 0;
    position: absolute;
}
