body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #e0e0e0;
    color: #212121;
}

.header {
    text-align: center;
}

.container {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.inner {
    display: flex;
    justify-content: space-between;
}

.btn {
    margin: 0 8px;
    padding: 8px 16px;
    font-size: 2em;
    color: #212121;
}

.btn-yes {
    background-color: #8bc34a;
}

.btn-no {
    background-color: #ff5722;
}

.btn-dynamic {
    position: absolute;
}
